<div class="column">
    <h1 class="title has-text-centered">Cadastre-se</h1>
    <div class="columns is-centered">
        <ul class="has-text-centered">
            <li class="field">
                <label class="label">Login
                    <input type="email" class="input" [(ngModel)]="cadastroForm.login" placeholder="Login">
                </label>
            </li>
            <li class="field">
                <label class="label">Senha
                    <input type="password" class="input" [(ngModel)]="cadastroForm.senha" placeholder="Senha">
                </label>
            </li>
        
            <button class="button is-link is-light" (click)="cadastro()"> Cadastrar </button>
        </ul>

    </div>
</div>