<div class="columns is-centered">
    <form class="column is-half ">
        <h1 class="title has-text-centered mb-3">{{titleText}}</h1>
        <ul class="has-text-centered">
            <li class="field">
                <label for="nome" class="label">Nome</label>
                <input type="text" name="nome" class="input" placeholder="Nome" [(ngModel)]="pacienteForm.nome">
                <span class="help">Esse campo é mandatório.</span>
                <span *ngIf="nomeError" class="help">Não deve estar vazio.</span>
            </li>
    
            <li class="field">
                <label for="idade" class="label">Data de nascimento</label>
                <input type="date" class="input" name="idade" [(ngModel)]="pacienteForm.dataNascimento">
                <span class="help">Esse campo é mandatório.</span>
                <span *ngIf="idadeError" class="help">Não deve estar vazio.</span>
            </li>
    
            <li class="field">
                <button class="button is-link is-light" (click)="buttonExec()">{{buttonText}}</button>
            </li>
        </ul>
    </form>     
</div>