<div class="columns is-centered">
    <form class="column is-half ">
        <h1 class="title has-text-centered mb-3">{{titleText}}</h1>
        <ul class="has-text-centered">
            <li class="field">
                <label for="nome" class="label" >Nome</label>
                <input type="text" name="nome" class="input" placeholder="Nome" [(ngModel)]="medicoForm.nome">
                <span class="help">Esse campo é mandatório.</span>
                <span *ngIf="nomeError" class="help">Não deve estar vazio.</span>
            </li>
    
            <li class="field">
                <label for="idade" class="label" >Especialidade</label>
                <div class="select">
                    <select [(ngModel)]="especialidadeId" (change)="setPlan($event)">
                        <option *ngFor="let especialidade of listaEspecialidades" [value]="especialidade.id" [selected]="especialidadeId == especialidade.id">{{especialidade.nome | titlecase}}</option>
                    </select>
                  </div>
                <span class="help">Esse campo é mandatório.</span>
                <span *ngIf="especialidadeError" class="help">Não deve estar vazio.</span>
            </li>
    
            <li class="field">
                <button class="button is-link is-light" (click)="buttonExec()">{{buttonText}}</button>
            </li>
        </ul>
    </form>     
</div>